<div class="container py-5">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let item of items">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <a [routerLink]="item.product.id" class="h3 text-decoration-none"><img
                                    class="card-img rounded-0 img-fluid" src={{item.product.imagePath}}
                                    alt={{item.product.name}}></a>
                        </div>
                        <div class="card-body">
                            {{item.product.name}}
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                            </ul>
                            <p class="text-left mb-0">$ {{item.product.price}}.00</p>
                            <div class="text-end">
                                <button class="btn btn-sm btn-danger" (click)="onDelete(item.product)">Delete</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-auto m-auto">
                                <ul class="list-inline pb-3">
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-minus"
                                            (click)="onQuantityChange(item.product.id,(item.quantity - 1))">-</span>
                                    </li>
                                    <li class="list-inline-item"><span class="badge bg-secondary"
                                            id="var-value">{{item.quantity}}</span></li>
                                    <li class="list-inline-item"><span class="btn btn-success" id="btn-plus"
                                            (click)="onQuantityChange(item.product.id,(item.quantity + 1))">+</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="text-center">
                <h3>Total - $ {{total}}.00</h3>
                <button class="btn btn-md btn-info" (click)="onPlaceOrder()">Place Order</button>
            </div>
        </div>
    </div>
</div>