<td>{{product.name}}</td>
<td>{{product.description}}</td>
<td>{{product.category}}</td>
<td>{{product.quantity}}</td>
<td>${{product.price}}.00</td>
<td class="text-center">
    <button type="button" class="btn btn-sm me-2" (click)="onAddToCart(product)"
        ngClass="{{isProductInCart(product) ? 'btn-success': 'btn-primary'}}" [disabled]="isProductInCart(product)"
        *ngIf="!isAdmin()">
        {{isProductInCart(product) ? "Aggiunto": "Aggiungi al carrello"}}
    </button>
    <button type="button" class="btn btn-dark btn-sm me-1" [routerLink]="['/products',product.id]" *ngIf="isAdmin()">
        modifica
    </button>
    <button type="button" class="btn btn-danger btn-sm" (click)="onDelete(product.id)" *ngIf="isAdmin()">
        elimina
    </button>
</td>