<form style="width: 800px; margin: auto;">
    <h1 class="my-5 text-center">Login Form</h1>
    <div class="mb-3">
        <label fclass="form-label">Username</label>
        <input type="email" class="form-control" name="username" [(ngModel)]="user.username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" required>
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>