<div class="mt-5">
    <div *ngIf="items.length > 0 else noProducts">
        <table class="table table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Prezzo</th>
                    <th scope="col">Quantità</th>
                    <th scope="col">Azione</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of items">
                <tr>
                    <td>{{item.product.name}}</td>
                    <td>${{item.product.price}}.00</td>
                    <td>
                        <input type="number" min="1" style="width: 3em" [(ngModel)]="item.quantity"
                            (change)="onUpdate()" />
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="onDelete(item.product)">Elimina</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="float: right;">
            <h3>Total: ${{total}}.00</h3>
            <button class="btn btn-primary btn-sm" [disabled]="items.length === 0" (click)="onPlaceOrder()">Inserisci il
                tuo ordine</button>
        </div>
    </div>

    <ng-template #noProducts>
        <img class="mx-auto d-block" src=" https://www.dasbazar.com/img/components/no-products.png" />
        <h4 class="text-center my-5 text-primary">Non ci sono prodotti nel carrello. Si prega di aggiungere prodotti da
            acquistare!</h4>
    </ng-template>
</div>