<div>
    <table class="table table table-bordered mt-5">
        <thead>
            <tr>
                <th class="text-center" scope="col">Nome</th>
                <th class="text-center" scope="col">Descrizione</th>
                <th class="text-center" scope="col">Categoria</th>
                <th class="text-center" scope="col">Quantità</th>
                <th class="text-center" scope="col">Prezzo</th>
                <th class="text-center" scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products | paginate: {itemsPerPage: size, currentPage: page, totalItems: totalItems}">
            <tr app-product-details [product]="product" (onDeleteProduct)="onDeleteProduct.emit()"></tr>
        </tbody>
    </table>

    <div class="text-center my-5">
      <pagination-controls (pageChange)="handlePageEvent($event)"></pagination-controls>
    </div>
</div>