<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src={{product.imagePath}} alt="Card image cap" id="product-detail">
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{product.name}}</h1>
                        <p class="h3 py-2">${{product.price}}.00</p>

                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <h6>Category:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="text-muted"><strong>{{product.category}}</strong></p>
                            </li>
                        </ul>

                        <h6>Description:</h6>
                        <p>{{product.description}}</p>

                        <form action="" method="GET">
                            <input type="hidden" name="product-title" value="Activewear">
                            <div class="row">
                                <div class="col-auto">
                                    <ul class="list-inline pb-3">
                                        <li class="list-inline-item text-righ">
                                            Quantity
                                            <input type="hidden" name="product-quanity" id="product-quanity" value="1">
                                        </li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-minus"
                                                (click)="onDecrement()">-</span></li>
                                        <li class="list-inline-item"><span class="badge bg-secondary"
                                                id="var-value">{{quantity}}</span></li>
                                        <li class="list-inline-item"><span class="btn btn-success" id="btn-plus"
                                                (click)="onIncrement()">+</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row pb-3 mt-5">
                                <div class="col d-grid">
                                    <button type="submit" class="btn btn-lg"
                                        [ngClass]="onProductExist() ? 'btn-warning' : 'btn-success' " name="submit"
                                        value="addtocard" (click)="onAddToCart()"
                                        [disabled]="onProductExist()">{{onProductExist() ?
                                        "Added to cart" : "Add to cart"}}</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Close Content -->