<button class="btn btn-success btn-sm" style="float: right;" (click)="onHomeClick()">Home</button>

<div>
    <h1 class="my-5 text-center">Cart</h1>

    <table class="table table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of items">
            <tr>
                <td>{{item.product.name}}</td>
                <td>${{item.product.price}}</td>
                <td>
                    <input type="number" min="1" max="5" style="width: 3em" [(ngModel)]="item.quantity"
                        (change)="calculateTotal()" />
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(item.product.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="float: right;">
        <h3>Total: ${{total}}</h3>
        <button class="btn btn-primary btn-sm" [disabled]="items.length === 0" (click)="onPlaceOrder()">Place
            your order</button>
    </div>


</div>