<div>
    <h1 class="my-5 text-center">Products</h1>

    <table class="table table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products">
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>${{product.price}}</td>
                <td>
                    <input type="number" min="1" max="5" style="width: 3em" />
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" (click)="clickMe(product)">
                        Add to Cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>