.custom-jumbotron {
    padding: 30px;
    background-color: #111;
}

.custom-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.custom-jumbotron .custom-container {
    max-width: 100%;
    background-color: #222;
}

.custom-jumbotron h1 {
    text-align: center;
    color: #DDD;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}