<div>
    <div class="custom-jumbotron">
        <div class="custom-container">
            <h1>Products</h1>
        </div>
    </div>

    <button class="btn btn-success btn-sm mt-2" style="float: right;" (click)="onCartClick()">Cart</button>

    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="search category" [(ngModel)]="search" />
        </div>
        <button type="button" class="btn btn-primary ml-2" (click)="onSearch()">
            Search
        </button>
    </div>

    <table class="table table table-bordered mt-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products">
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category}}</td>
                <td>${{product.price}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" (click)="addToCart(product)">
                        Add to Cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>