<div class="container py-5">
    <div class="row py-5">
        <form class="col-md-9 m-auto" role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <p class="my-3 text-center text-danger">{{errorMessage}}</p>
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control mt-1" id="email" placeholder="john@example.com"
                    formControlName="username">
            </div>
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control mt-1" id="password" formControlName="password">
            </div>
            <div class="row">
                <div class="col text-center mt-2">
                    <button type="submit" class="btn btn-success btn-lg px-3">Login</button>
                </div>
            </div>
            <div class="text-end">
                <h5>Not a member yet? <a routerLink="/register">Sign up</a></h5>
            </div>
        </form>
    </div>
</div>